body{
    align-items: center;
    text-align: center;
}

table{
    margin-top:-85;
  }

input:required{
    size:"15" ;
    max-lines:"30";
    border: 2px solid black;
}

input:optional{
  size:"15" ;
  max-lines:"30";
  border: 2px solid black;
  color: rgb(25, 212, 212) ;
}

input:invalid {
    background-color: #CC00FF;
    color: white;
  }
  
  input:valid {
    background-color: #990099;
    color: white;
  }
  fieldset{
      margin: auto;
      text-align: center;
  }
  input:out-of-range {
    background-color: rgb(8, 100, 175);
    color: white;
  }
  
  input:in-range {
    background-color: #66FFCC;
    color: black;
  }
  #tituloinput :checked{
      color: salmon;
  }


  textarea#comentario  {
    margin-left: 225px;
    margin-top: -490;
    position: fixed;
}
textarea#anotacion  {
    margin-left: -667px;
    margin-top: -490;
    position: fixed;
}

textarea#anotacion :read-only{
  cursor: not-allowed;
}

textarea:hover{
    color: black;
    background-color: #00FF99 ;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;

}

a:visited{
    color: blueviolet;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:link{
    color: black;
    font-style: italic;
}

progress {
    margin: 4px;
  }
  
  progress:indeterminate {
    opacity: 0.5;
    background-color: rgb(228, 19, 211);
    box-shadow: 0 0 2px 1px rgb(0, 183, 255);
  }